#Variables

In [1]:
a=10
b=20
sum=a+b
abc=10
print("sum")
print(abc)

sum
10

#variable naming
#You cant start with digits

In [4]:
ab_c1=10
_ss=20
#12cd=30

#Assigning different type of data to variable

In [2]:
a=10
type(a)
a='abcjddci'
type(a)

str

#Numbers in python

In [5]:
a1=16
a2=11.4
a3=4+5j
print(a1)
print(a2)
print(a3)
print(type(a1))
print(type(a2))
print(type(a3))

16
11.4
(4+5j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [12]:
a=10
print(id(a))
a=a+1
print(id(a))
print(a)

140722282607728
140722282607760
11

#for numbers(-5 to 256) address will be same for different variables

In [13]:
a=10
b=10
print(id(a))
print(id(b))

140722282607728
140722282607728

In [17]:
a=257
b=257
print(id(a))
print(id(b))   
#diff Address

2469550826736
2469550826480

In [22]:
a=10
b=6
print(a-b)
print(a+b)

4
16

#Arithmatic operators

In [39]:
a=5
b=4
a*b
a/b   #floating point division
a//b  #integer type division 
a**b   # Exponentiation 5^4

625

In [ ]:
# concat

In [30]:
"ab"+"cd" #concat

'abcd'

#Input

In [48]:
a=input()
b=input()
s=a+b
print(s)
print(type(a))

123
456
123456
<class 'str'>

In [53]:
a=int(input()) # float(input())
b=int(input())
print(a+b)
print(type(a))

1
2
3
<class 'int'>

In [56]:
a=int(input())
b=int(input())
c=int(input())
average=(a+b+c)/3
print(average)

3
4
6
4.333333333333333

In [57]:
x=10
n=4
x**n

10000

In [ ]:
x=int(input())
n=int(input())
print(x**n)

In [2]:
a=int(input())
b=int(input())
c=int(input())
d=b-a
print(d)

1
2
3
1

In [6]:
def maxFreq(l):
    g={}
    for i in l:
        if i in g:
            g[i]+=1
        else:
            g[i]=1
    g=sorted(g)
    return g[0]

# Main
n=int(input())
l=list(int(i) for i in input().strip().split(' '))
print(maxFreq(l))

4
1 2 2 1
1